<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bridge.sys.mapper.BottomStructureDamageTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bridge.sys.pojo.BottomStructureDamageType">
        <id column="bottom_structure_damage_type_id" property="bottomStructureDamageTypeId" />
        <result column="bottom_structure_component_id" property="bottomStructureComponentId" />
        <result column="bottom_structure_damage_type_name" property="bottomStructureDamageTypeName" />
        <result column="bottom_structure_damage_type_definition" property="bottomStructureDamageTypeDefinition" />
        <result column="bottom_structure_damage_type_explanation" property="bottomStructureDamageTypeExplanation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bottom_structure_damage_type_id, bottom_structure_component_id, bottom_structure_damage_type_name, bottom_structure_damage_type_definition, bottom_structure_damage_type_explanation
    </sql>

</mapper>
