<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bridge.mapper.BridgeDeckDamageTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bridge.pojo.BridgeDeckDamageType">
        <id column="bridge_deck_damage_type_id" property="bridgeDeckDamageTypeId" />
        <result column="bridge_deck_component_id" property="bridgeDeckComponentId" />
        <result column="bridge_deck_damage_type_name" property="bridgeDeckDamageTypeName" />
        <result column="bridge_deck_damage_type_definition" property="bridgeDeckDamageTypeDefinition" />
        <result column="bridge_deck_damage_type_explaination" property="bridgeDeckDamageTypeExplaination" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bridge_deck_damage_type_id, bridge_deck_component_id, bridge_deck_damage_type_name, bridge_deck_damage_type_definition, bridge_deck_damage_type_explaination
    </sql>

</mapper>
