<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bridge.mapper.RoutineDetectionItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bridge.pojo.RoutineDetectionItems">
        <id column="detection_item_id" property="detectionItemId" />
        <result column="detection_item" property="detectionItem" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        detection_item_id, detection_item
    </sql>

</mapper>
