<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bridge.mapper.TopStructureDamageClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bridge.pojo.TopStructureDamageClass">
        <id column="top_structure_damage_class_id" property="topStructureDamageClassId" />
        <result column="top_structure_damage_type_id" property="topStructureDamageTypeId" />
        <result column="top_structure_damage_class_name" property="topStructureDamageClassName" />
        <result column="top_structure_class_deducation" property="topStructureClassDeducation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        top_structure_damage_class_id, top_structure_damage_type_id, top_structure_damage_class_name, top_structure_class_deducation
    </sql>

</mapper>
